<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.wgu.termtracker">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".notifications.NotificationPublisher"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <activity android:name=".activities.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.TermListActivity" />
        <activity android:name=".activities.CourseViewActivity" />
        <activity android:name=".activities.TermViewActivity" />
        <activity android:name=".activities.AssessmentViewActivity" />
        <activity android:name=".activities.AssessmentInputActivity" />
        <activity android:name=".activities.CourseInputActivity" />
        <activity android:name=".activities.TermInputActivity" />
        <activity android:name=".activities.PreferencesActivity" />
        <activity android:name=".activities.CourseMentorInputActivity" />
        <activity android:name=".activities.CourseMentorViewActivity" />
        <activity android:name=".activities.NoteViewActivity" />
        <activity android:name=".activities.NoteInputActivity" />
    </application>

</manifest>